.menuIcon--drawer-mobile {
  color: black;
  border-radius: 0.25rem;
  padding: 0.35rem 0.55rem;
}

.menuIcon {
  padding: 0;
}

.openIconContainer {
  display: flex;
  align-items: center;
  padding: 0;
}

.childrenContainer--drawer-mobile {
  position: relative;
  flex-direction: column;
}

.overlay--drawer-mobile {
  background-color: transparent;
}

.opened--drawer-mobile {
  top: 56px;
  bottom: 0;
  width: 80% !important;
  background-color: #EBEBEB;
}

.closeIconContainer--drawer-mobile {
  position: absolute;
  top: -55px;
  z-index: 999;
}
.closeIconContainer--drawer-mobile .closeIconButton--drawer-mobile {
  background-color: white;
  padding: 10px;
}

.drawerContent--drawer-mobile :global(.vtex-store-components-3-x-logoLink) {
  position: absolute;
  top: -55px;
  left: 10%;
}
