$black: "Nunito-Black";
$bold: "Nunito-Bold";
$extraBold: "Nunito-ExtraBold";
$extraLold: "Nunito-ExtraLight";
$light: "Nunito-Light";
$regular: "Nunito-Regular";
$semiBold: "Nunito-SemiBold";

$blue: #006DB6;
$secondary-color: #ffd02c;
$primary-bg: #EBEBEB;
$darkGray: #4d4d4d;
$lightGray: #888787;
$bordo: #cf2741;
$green: #bcd85f;
$gray: #e6e6e6;
$background: #EBEBEB;
