:global(.vtex-flex-layout-0-x-flexColChild--terminos--col){
    .trigger {
        width: 100%;
        background-color: transparent;
        border: none;
        border-top: 1px solid #006DB6;
        position: relative;

        & :global(.vtex-rich-text-0-x-wrapper--disclosure-text){
             & :global(.vtex-rich-text-0-x-heading--disclosure-text){
                 margin: 1.2rem 0;
                 color: #006DB6;

                 @media (max-width: 768px){
                    font-size: .8rem;
                 }
             }
        }
    }
    .trigger--hidden::after {
        position: absolute;
        top: 37%;
        bottom: 53%;
        right: 2px;
        content: "";
        border-right: 2px solid #006DB6;
        border-bottom: 2px solid #006DB6;
        width: 8px;
        transform: rotate(45deg);
        height: 8px;
        transition: 0.3s ease-in-out;
        z-index: 999;
    }
    .trigger--visible::after {
        position: absolute;
        top: 37%;
        bottom: 53%;
        right: 2px;
        content: "";
        border-right: 2px solid #006DB6;
        border-bottom: 2px solid #006DB6;
        width: 8px;
        transform: rotate(-135deg);
        height: 8px;
        transition: 0.3s ease-in-out;
        z-index: 999;
    }
    &:last-child{
        border-bottom: 1px solid #006DB6;
    }

    .content{
        & :global(.vtex-rich-text-0-x-paragraph){
            padding: 0 .5rem 0 1.5rem;
        }
    }
}